$darkGray: #8f8f8f;

$Gray: #dfdfdf;

$white: #fff;

$ScoreText: hsl(229, 64%, 46%);

$ScoreCount: hsl(229, 25%, 31%);

$ScissorsGradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));

$PaperGradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));

$RockGradient: linear-gradient( hsl(349, 71%, 52%), hsl(349, 70%, 56%));

$darkText: hsl(229, 25%, 31%);

$veryDarkBleu: #1a223e;

$lightRed: hsl(349, 71%, 52%);