@media (min-width: 992px) {

    body {
        padding: 3rem 2rem;
    }

    header {
        width: 60%;
        padding: 1rem 1.2rem;
        .score {
            height: 100px;
            width: 115px;
            border-radius: 10px;
            p {
                font-size: 1em;
                color: #2a46c0;
                font-weight: 600;
            }
            span {
                font-size: 4em;
                line-height: 55px;
            }
        }
    }

    .game-container {
        height: 330px;
        width: 330px;
    }

    .cover {
        height: 200px;
        width: 200px;
    }

    .chose-container {
        width: 990px;
        .second-chose {
            order: 1;
        }
        .result {
            width: unset;
        }
        .chose {
            margin-bottom: 4rem;
        }
    }

    .rules {
        margin: auto 3rem 0 auto;
    }

    .rules-container {
        height: 400px;
        width: 400px;
        border-radius: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        h1 {
            align-self: start;
        }
        img:first-of-type {
            order: 1;
        }
        img:last-of-type {
            position: absolute;
            right: 25px;
            top: 35px;
        }
    }
}